$xxs: 320px;
$xs:  575px;
$sm:  767px;
$md:  991px;
$lg:  1199px;
$xl:  1440px;

$dark-gray: #4F545F;
$second-gray: #6C7683;
$dark-blue: #336EC6;
$gray-blue: #9FAABA;
$blue: #A6C3EE;
$light-blue: #EFF5FE;
$white: white;
$green: #76CB22;

$font-size-base: 16;